<%- include("header"); -%>
    <div class="box" id="heading">
        <h1>The day of the week is <%= dayOfTheWeek %></h1>
    </div>
    <div class="box">
        <%for(var i = 0; i < newItems.length; i++ ) {%>
            <div class="item">
                <input type="checkbox"/>
                <p><%= newItems[i] %></p>
            </div>
      <%  }%>
      <form class="item" action="/" method="post">
        <input type="text" name="item1" placeholder="New Item"/>
        <button type="submit" name="button">+</button>
    </form>
    </div>
<%- include("footer"); -%>